@import url('http://fonts.googleapis.com/css?family=Sigmar+One');

#content_wrapper {
    display: inline-block;
    width: 100%;
    background: #ffffff;
    padding: 10px;
    margin-top: 28px;
    text-align: left;
    color: #4C4C4C;
}

#content_wrapper form {
    padding: 10px;
    background-color: rgba(222, 222, 222, .5);
}

#content_wrapper form label {
    margin-right: 20px;
    color: #000000;
    font-family: 'Sigmar One', cursive;
}
