/**
 * @author Milan
 */

#black_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
}

#popup_box {
    display: none;
    position: fixed;
    top: 25%;
    left: 20%;
    width: 60%;
    height: 35%;
    min-height: 350px;
    max-height: 500px;
    padding: 16px;
    border: 10px solid #FFFFFF;
    background-color: rgba(222, 222, 222, .5);
    z-index: 1002;
    overflow: hidden;
}

#info {
    float: left;
    width: 30%;
    height: 100%;
}

#info img {
    height: 80%;
    width: 90%;
}

#info div {
    height: 20%;
}

#info div h3 {
    font-size: 20px;
}

table th {
    border-bottom: #FFFFFF solid 5px;
    text-align: center;
    font-weight: bold;
}

thead {
    color: white;
}

table td {
    border-bottom: #FFFFFF solid 1px;
    text-align: center;
}

#album_songs {
    width: 100%;
    color: #ffffff;
}

#table_wrapper {
    float: left;
    position: relative;
    width: 68%;
    height: 100%;
}

#table_scroll {
    overflow: auto;
    height: 100%;
}

.title {
    text-align: left;
    padding-left: 50px;
}

/*********************************************************************************/
/* Scrollbar                                                                     */
/*********************************************************************************/

#table_scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#table_scroll::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#table_scroll::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ECB428;
}