#content_wrapper {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    margin-top: 28px;
    color: #000000;
    text-align: center;
    display: inline-block;
}

#content_wrapper * {
    color: #000000;
}
#content_wrapper a {
    color: #999999;
}
#content_wrapper a:hover {
    color: #d64760;
}
#content_wrapper h1 {
    font-weight: bold;
}
#content_wrapper h3 {
    font-weight: 500;
}

#team {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: table;
}

.member {
    padding: 10px;
    display: table-cell;
}
.member img {
    width: 100px;
    height: 100px;
    border-radius: 30%;
}