.submit_btn {
    margin-top: 15px;
    color: #ffffff;
    background: #ECB428;
    border: transparent;
    font-family: 'Sigmar One', cursive;
    padding: 5px;
}

.submit_btn:hover {
    color: #d64760;
}

.message {
    font-family: 'Sigmar One', cursive;
    text-align: center;
}

.message * {
    background: #ECB428;
}

.error {
    color: #ff0000;
    font-size: medium;
    font-weight: bold;
    margin-left: 20px;
}

.dataTable td > img {
    width: 70px;
}

.dataTables_filter {
    display: none;
}

.dataTables_length {
    background-color: #ECB428 !important;
    padding: 10px;
    margin-top: 5px;
    font-family: 'Sigmar One', cursive;
}

.paginate_button {
    border: transparent !important;
    font-family: 'Sigmar One', cursive;
    background: #ECB428 !important;
}

.paginate_button.current {
    background: #d64760 !important;
}

.paginate_button:hover {
    background-color: #d64760 !important;
}